#loginFacebookBtn {
  text-align: center;
  margin-left: 0px;
  margin-right: 10%;
}
.btn {
  border-radius: 50%;
  border-color: transparent;
  border-width: 0px;
  padding: 0px;
  display: inline;
}