<div class="dropdown">
  <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Añade un Tag
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a (click)="saveTag('#reciclaje')" class="dropdown-item">#Reciclaje</a>
    <a (click)="saveTag('#compost')" class="dropdown-item">#Compost</a>
    <a (click)="saveTag('#huertos')" class="dropdown-item">#Huertos urbanos</a>
    <a (click)="saveTag('#evento')" class="dropdown-item">#Evento</a>
    <a (click)="saveTag('#taller')" class="dropdown-item">#Taller</a>
    <a (click)="saveTag('#vegan')" class="dropdown-item">#Vegan</a>
    <a (click)="saveTag('#vegetariano')" class="dropdown-item">#Vegetariano</a>
    <a (click)="saveTag('#energias')" class="dropdown-item">#Energias limpias</a>
    <a (click)="saveTag('#habitos')" class="dropdown-item">#Hábitos</a>  
  </div>
</div>