<div class="input_container">
  <label for="exampleInputEmail1">Email</label>
  <input id="email" type="email" class="form-control">
</div>
<div class="input_container">
  <label for="exampleInputPassword1">Contraseña</label>
  <input id="password_register" type="password" class="form-control" id="exampleInputPassword1">
</div>
<div id="containerBtn">
  <button mat-button id="loginBtn" class="btn-blue" onclick="login()" type="button" value="LOGIN" (click)="login()" routerLink="wall">Ingresar</button>
</div>