<body>
  <section id="landingPage">
    <!--Carrusel-->
    <div class="container-fluid" id="divContainer"> 
      <app-carrousel></app-carrousel>
    </div>
  
    <div id="paragraph">
      <h4 class="Title">¿Qué es Siembramigos?</h4>
      <p>Es una red social para interactuar con otras personas que compartan tu gusto por ayudar a cuidar el planeta. Aquí podrás
        hacer amigos nuevos, juntarte, asistir a talleres, compartir tus ideas y conocimientos.</p>
      <br>
      <br>
      <h4 class="Title">¿Qué buscamos?</h4>
      <p>Somos una comunidad enfocada en generar conciencia medioambiental en nuestro entorno, en distintos temas como desarrollo
        de huertos urbanos, agricultura orgánica, compostaje, lombricultura, reciclaje, energías renovables, calentamiento
        global, etc.</p>
    </div>
  
    <div id="boton">
      <button class="btn-warning btn-lg" id="btn-entrar" routerLink="login">ENTRAR</button>
    </div>
    <!-- Aquí termina la solicitud de ingreso con formulario -->
  </section>
</body>

