<body>
  <header>
    <div id="logoSiembramigos">
      <h1>
        <img src="../../assets/img/carpa_icon.png">Siembramigos</h1>
    </div>
  
  </header>
  <section id="landingPage">
    <!--Carrusel-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../assets/img/carrousel.png" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/img/agriculture-alternative-alternative-energy-414886.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/img/bruno-scramgnon-bulb-idea-315658.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/img/cuidado-del-medio-ambiente-770x578.jpg" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  
    <div id="paragraph">
      <h4>¿Qué es Siembramigos?</h4>
      <p>Es una red social para interactuar con otras personas que compartan tu gusto por ayudar a cuidar el planeta. Aquí podrás
        hacer amigos nuevos, juntarte, asistir a talleres, compartir tus ideas y conocimientos.</p>
      <br>
      <br>
      <h4>¿Qué buscamos?</h4>
      <p>Somos una comunidad enfocada en generar conciencia medioambiental en nuestro entorno, en distintos temas como desarrollo
        de huertos urbanos, agricultura orgánica, compostaje, lombricultura, reciclaje, energías renovables, calentamiento
        global, etc.</p>
    </div>
  
    <div id="boton">
      <button id="btn-entrar" routerLink="login">ENTRAR</button>
    </div>
    <!-- Aquí termina la solicitud de ingreso con formulario -->
  </section>
</body>

