.Title{
  font-family: 'Lobster', cursive;
}

#logoSiembramigos{
  background-color: #0f340c;
  text-align: center;
  display: block;
}
#logoPng{
  width: 380px;
  height: 100px;
  padding: 1%;
}

#containerLogo{
  padding: 20px;
  background-color: #59A686;
}

p{
  color: #0D5A3A;
}

h4{
  color: #132936;
}

#paragraph{
  text-align:center;
  padding: 10%;
}

#boton{
  text-align: center;
}

#btn-entrar {
  margin-bottom: 5%;
  color: red;
  font-weight: bold;
  
}
#divContainer{
  max-width: 100%;
  max-height: 700px;
  padding: 0px;
}