
<p>muro!</p>
<button mat-button id="logOut" class="btn-blue" type="button" (click)="auth.signOut()">Log out</button>

<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
      <h3>Howdy, {{ user.displayName }}</h3>
      <img  [src]="user.photoURL">
      <p>UID: {{ user.uid }}</p>
      <p>Favorite Color: {{ user?.favoriteColor }} </p>
  </div>
</ng-template>


<body>
  <mat-toolbar class='head'> <div class='titulo'><h1 class='fondo'>
    <img src="../../assets/img/carpa_icon.png">PlantingFriends</h1></div></mat-toolbar>
  
    <div class="container">
      <mat-card class="prin">
      <form [formGroup]="newPublish"(ngSubmit)="addPublish()"> <!--corchete input-->
        <div class='formUser'>
          <input #publicacion type='text' formControlName ="publicacion" placeholder="¿Que quieres Publicar?">
          
        <button mat-button type="submit" class='publicar'>Publicar!</button>
        </div>
      </form>
      </mat-card>
    </div>
  </body>
  
  

