<nav class="searchBar navbar navbar-expand-lg navbar-light bg-light">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <i class="fas fa-search"></i>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name ="Reciclaje" (click)="filtrarTags($event)">Reciclaje</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"(click)="filtrarTags()">Compost</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"(click)="filtrarTags()">Evento</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"(click)="filtrarTags()">Taller</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"(click)="filtrarTags()">Vegan</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Taller</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Habitos</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Energias Limpias</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Huertos Urbanos</button>
    </form>
</nav>