<body>
<mat-toolbar class='head'> <div class='titulo'><h1 class='fondo'>
  <img src="../../assets/img/carpa_icon.png">PlantingFriends</h1></div></mat-toolbar>

<div class="container">
  <form [formGroup]="newUser"(ngSubmit)="addUser()"> <!--corchete input-->
    <div class='formUser'>
      <p class='crearCuenta text'>Crea una cuenta</p>
      <p class='text'>Nombre</p>
      <input #nombre type='text' formControlName ="nombre">
      <p class='text'>Edad</p>
      <input #edad type = 'text' formControlName ="edad">
      <p class='text'>Comuna</p>
      <input #comuna type='text' formControlName ="comuna">
      <p class='text'>Email</p>
      <input #email type='email' formControlName ="email">
      <p class='text'>Contraseña</p>
      <input #pass type = 'password' formControlName ="pass">
      <p class='text'>Confirmar contraseña</p>
      <input #confirm type='password' formControlName ="confirm">
    <br>
    <mat-checkbox>Acepto los terminos y condiciones</mat-checkbox>
    <br>
    <button mat-button type="submit" class='registrarse'>Registrar!</button>
    </div>
  </form>
</div>
</body>

