body{
  background-color: #A7D9A2;
}
.head{
  text-align: center;
  color: #333333;
  background-color: #2EA681;
  padding-left: 45%;
}

.crearCuenta{
  font-size: 27px;
}

.fondo{
  text-align: center;
  color: #333333;
  background-color: #F2B84B;
  padding: 5px;
}

.container{ 
  background-color: #A7D9A2;
}

.text{
  text-align: left;
}

form{
  background-color: #A7D9A2;
  padding: 15px;
  position: absolute;
  right: 35%;
}

formUser{
  text-align: center;
  margin: 5px;
}
#form_section {
  margin: auto;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  margin-left: 45%;
}

#title {
    font-size: large;
}
.input_titles{  
  text-align: left;
  margin-bottom: 0%;
  margin-top: 3%;
  font-size: small;
  color: rgba(0, 0, 0, 0.54);
}
.input_place {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 3px;
    margin-top: 0%;
}
p{
  text-align: center;
}
.registrarse{
  text-align: center;
  background-color: #00BCD4;
  color: white;
  font-size: 15px;
}
